/**
 *   A   
 * F   B    D2  
 *   G 
 * E   C    D1     AM
 *   D             PM
 */
.digit {
  --color: currentcolor;
  --thick: 0.25em;
  --length: 1em;
  --off-opacity: 0.06;
  --on-opacity: 1;
  --arrow-scale: 1;
  --arrow-shift: -0.04em;
  --distance: 0.05em;
  --glow-size: 2em;

  /* computed values */
  --thick-minus: calc(var(--thick) * -1);
  --thalf: calc(var(--thick) / 2);
  --thalf-minus: calc(var(--thalf) * -1);
  --distance-minus: calc(var(--distance) * -1);
  --dhalf: calc(var(--distance) / 2);
  --dhalf-minus: calc(var(--dhalf) * -1);

  display: inline-block;
  position: relative;
  min-width: calc(var(--length) + var(--thick) + var(--distance));
  min-height: calc(var(--length) * 2 + var(--thick) + var(--distance) * 2);
  outline: 1px solid rgba(255, 0, 0, 0.2);

  /* segments */
  & > i {
    --thalf-100: calc(100% - var(--thalf));

    background-color: var(--color);
    display: block;
    position: absolute;

    opacity: var(--off-opacity);
    &.on {
      opacity: var(--on-opacity);
    }

    /* vertical segments */
    &.vertical {
      width: var(--thick);
      height: var(--length);
      left: 0;

      &.B,
      &.C {
        left: auto;
        right: 0;
      }
    }
    &.E,
    &.C {
      bottom: calc(var(--thalf) + var(--dhalf));
    }
    &.F,
    &.B {
      top: calc(var(--thalf) + var(--dhalf));
    }

    /* horizontal segments */
    &.horizontal {
      width: var(--length);
      height: var(--thick);
      left: calc(var(--thalf) + var(--dhalf));
    }
    &.A {
      top: calc(0 + var(--distance) * 2);
    }
    &.D {
      bottom: 0;
    }
    &.G {
      bottom: calc(var(--length) + var(--distance));
    }

    /* spearheads */
    &.horizontal {
      clip-path: polygon(
        0 50%,
        var(--thalf) 0,
        var(--thalf-100) 0,
        100% 50%,
        var(--thalf-100) 100%,
        var(--thalf) 100%
      );
    }
    &.vertical {
      clip-path: polygon(
        50% 0,
        0 var(--thalf),
        0 var(--thalf-100),
        50% 100%,
        100% var(--thalf-100),
        100% var(--thalf)
      );
    }
    &.round {
      border-radius: 100vmin;
      clip-path: unset;
    }
    &.rect {
      clip-path: unset;
    }
  }

  &.colon {
    width: var(--length);

    & .dot.d1,
    & .dot.d2 {
      --size: calc(var(--thick) + 1px);
      position: absolute;
      width: var(--size);
      height: var(--size);
      left: calc(50% - var(--size) / 2);

      &.round {
        border-radius: 100vmin;
      }
    }
    & .dot.d1 {
      bottom: calc(50% + var(--thick));
    }
    & .dot.d2 {
      top: calc(50% + var(--thick));
    }
  }
  &.ampm {
    width: var(--length);
    --stroke: red;

    & > .segment {
      color: var(--stroke-color);
      width: var(--length);
      height: var(--length);
    }

    & > .am {
      color: red;
      background: transparent;
      background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:black;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style><polyline class="st0" points="14.47,11.54 14.47,3.45 11.44,11.54 8.5,3.45 8.5,11.54" /><path class="st0" d="M1.49,11.53V3.41h2.38c1.32,0,2.31,0.83,2.31,2.04S5.13,7.54,3.87,7.54H2.32" /></svg>');
    }
    & > .pm {
    }
  }
}
