/**
 *   A   
 * F   B    D2  
 *   G 
 * E   C    D1     AM
 *   D             PM
 */
.digit {
  --color: currentcolor;
  --thick: 0.25em;
  --length: 1em;
  --off-opacity: 0.06;
  --on-opacity: 1;
  --arrow-scale: 1;
  --arrow-shift: -0.04em;
  --distance: 0.05em;
  --glow-size: 2em;

  /* computed values */
  --thick-minus: calc(var(--thick) * -1);
  --thalf: calc(var(--thick) / 2);
  --thalf-minus: calc(var(--thalf) * -1);
  --distance-minus: calc(var(--distance) * -1);
  --dhalf: calc(var(--distance) / 2);
  --dhalf-minus: calc(var(--dhalf) * -1);

  display: inline-block;
  position: relative;
  width: calc(var(--length) + var(--thick) + var(--distance));
  height: calc(var(--length) * 2 + var(--thick) + var(--distance) * 2);
  outline: 1px solid rgba(255,0,0,.2);

  /* segments */
  & > i {
    --thalf-100: calc(100% - var(--thalf));

    background-color: var(--color);
    display: block;
    position: absolute;

    opacity: var(--off-opacity);
    &.on {
      opacity: var(--on-opacity);
    }

    /* vertical segments */
    &.vertical {
      width: var(--thick);
      height: var(--length);
      left: 0;

      &.B, &.C {
        left: auto;
        right: 0;
      }
    }
    &.E, &.C {
      bottom: calc(var(--thalf) + var(--dhalf));
    }
    &.F, &.B {
      top: calc(var(--thalf) + var(--dhalf));
    }

    /* horizontal segments */
    &.horizontal {
      width: var(--length);
      height: var(--thick);
      left: calc(var(--thalf) + var(--dhalf));
    }
    &.A {
      top: calc(0 + var(--distance) * 2);
    }
    &.D {
      bottom: 0;
    }
    &.G {
      bottom: calc(var(--length) + var(--distance));
    }

    /* spearheads */
    &.horizontal {
      clip-path: polygon(
        0 50%,
        var(--thalf) 0,
        var(--thalf-100) 0,
        100% 50%,
        var(--thalf-100) 100%,
        var(--thalf) 100%
      );
    }
    &.vertical {
      clip-path: polygon(
        50% 0,
        0 var(--thalf),
        0 var(--thalf-100),
        50% 100%,
        100% var(--thalf-100),
        100% var(--thalf)
      );
    }
    &.round {
      border-radius: 100vmin;
      clip-path: unset;
    }
    &.rect {
      clip-path: unset;
    }
  }

  &.colon {
    --scale: 1.2;
    width: var(--length);

    & .D1, & .D2 {
      --size: calc(var(--thick) * var(--scale)); 
      position: absolute;
      width: var(--size);
      height: var(--size);
      left: calc((var(--length) - var(--size)) / 2);

      &.round {
        border-radius: 100vmin;
      }
    }
    & .D1 { bottom: calc(var(--length) / 2 - var(--distance) / 2); }
    & .D2 { top: calc(var(--length) / 2 - var(--distance) / 2); }

  }
  &.ampm {
    width: var(--length);

    & > .am::before {
      content: "AM";
    }
    & > .pm::before {
      content: "PM";
    }
  }
}
